.look{
    color:red;
}

.Size{
    height: 310px;width: 520px;background-color: rgb(0, 97, 126);
}

.Customer{
    height: 250px;width: 250px;background-color: rgb(0, 97, 126);
}
* {
    margin: 0
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: white;
  }
  .table.submit:hover {
    box-shadow: 3px 3px 6px rgb(0, 97, 126);
  }